<% provide(:title, 'All Shops') %>
<h1>All shops</h1>
<div id="map" style="width: 100%; height: 500px;"></div>
<script>
  window.shopsData = <%= raw @shops.to_json(
    only: [:name, :address, :lat, :lon],
    include: { items: { only: [:name] } }
  ) %>;

  document.addEventListener('turbo:load', function() {
      var mapElement = document.getElementById('map');
      if (mapElement) {
        const map = L.map('map').setView([37.5, 137.5], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
        }).addTo(map);

        window.shopsData.forEach(shop => {
          let itemsList = '<strong>取扱商品</strong><br>';
          shop.items.forEach(item => {
            itemsList += `・${item.name}<br>`;
          });
          L.marker([shop.lat, shop.lon]).addTo(map).bindPopup(
            `${shop.name}<br>${shop.address}<br>${itemsList}`
          );
        });
      }
  });
</script>
<ul class="shops">
  <% @shops.each do |shop| %>
    <li>
      name: <%= link_to shop.name, shop %><br>
      address: <%= shop.address %><br>
      lat: <%= shop.lat %><br>
      lon: <%= shop.lon %><br>
      <%= link_to "削除", shop, data: { turbo_method: :delete } %><br>
    </li>
  <% end %>
</ul>
