<% provide(:title, '店舗検索結果') %>
<h1 class="fs-3 fw-bold">店舗検索結果</h1>
<div class="row mb-4">
  <div class="col-md-10 offset-md-1">
    <div id="map" style="width: 100%; height: 600px;"></div>
    <script>
      function initMap() {
        const shops = [
          <% @shops.map do |shop| %>
            {
              id: <%= shop.id %>,
              position: { lat: <%= shop.lat %>, lng: <%= shop.lon %> },
              name: "<%= j shop.name %>",
              address: "<%= j shop.address %>",
              items: [<%= raw shop.items.map { |item| "'#{j item.name}'" }.join(", ") %>]
            },
          <% end.join(",\n") %>
        ];

        const map = new google.maps.Map(document.getElementById("map"), {
          center: shops[0].position,
          zoom: 13,
        });

        let currentInfoWindow;

        shops.forEach(shop => {
          const marker = new google.maps.Marker({
            position: shop.position,
            map: map,
            title: shop.name,
          });

          const itemsList = shop.items.map(item => `<li>${item}</li>`).join("");

          const infoWindow = new google.maps.InfoWindow({
            content: `
              <a href="/shops/${shop.id}">${shop.name}</a><br>
              <span>${shop.address}</span>
              <div class="mt-1">
                <span class="mt-1"><取扱商品></span><ul>${itemsList}</ul>
              </div>
              <a href="https://www.google.com/maps/dir/current+location/${shop.address}" target="_blank">
                <i class="fa-solid fa-route me-1"></i>現在地からのルート
              </a><br>
              <a href="/shops/${shop.id}">
                <i class="fa-regular fa-comments me-1"></i>店舗に関する投稿
              </a>
            `
          });

          marker.addListener("click", () => {
            if (currentInfoWindow) {
              currentInfoWindow.close();
            }
            infoWindow.open(map, marker);
            currentInfoWindow = infoWindow;
          });
        });
      }

      window.initMap = initMap;
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
  </div>
</div>
