<% provide(:title, 'DM') %>
<div class="p-4">
  <h1 class="fs-3 fw-bold">DM</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <!-- ここにメッセージのリスト -->
        <a href="#" class="list-group-item list-group-item-action">
          <%= image_tag @recipient.display_image, class: "rounded-circle", width: "40" %>
          <%= @recipient.name %>
        </a>
        <!-- 他のメッセージも同様に追加 -->
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <%= image_tag @recipient.display_image, class: "rounded-circle", width: "40" %>
          <%= @recipient.name %>
        </div>
        <div class="card-body">
          <!-- チャットのメッセージをここに追加 -->
          <% @conversation.messages.each do |message| %>
            <p><%= message.body %></p>
          <% end %>
          <p class="text-right">
            送信されたメッセージ
          </p>
          <p>
            受信したメッセージ
          </p>
        </div>
        <div class="card-footer">
          <%= form_with model: [@conversation, @message] do |f| %>
            <div class="input-group">
              <%= f.text_area :body, class: 'form-control auto-expand', placeholder: 'メッセージを入力', rows: '1' %>
              <div class="input-group-append ms-1">
                <%= f.submit '送信', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
