<% provide(:title, @user.name) %>
<div class="user-show-wrapper py-4">
  <div class="row py-4">
    <%= render partial: "shared/user_info", locals: { user: @user } %>
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 user-nav">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <%= link_to "店舗に関する投稿", @user, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "グッズ交換希望投稿", exchangeposts_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "コメント", "#", class: "nav-link active", aria: { current: "page" } %>
        </li>
      </ul>
      <div class="comments-wrapper mt-0">
        <% if @comments.any? %>
          <ol class="list-group">
            <% @comments.each do |comment| %>
              <li class="list-group-item list-group-item-action d-flex gap-2 p-3" aria-current="true" id="user-comment-<%= comment.id %>">
                <%= image_tag comment.user.display_image, alt: "User image", class: "rounded-circle flex-shrink-0", width: 40, height:40 %>
                <div class="w-100">
                  <div class="row comment">
                    <div class="col-md-7 col-lg-8 d-flex flex-column justify-content-between" id="user-comment-inner-<%= comment.id %>">
                      <div>
                        <%= link_to comment.user.name, comment.user %>
                        <p class="mb-2"><%= comment.content %></p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <small class="opacity-50"><%= time_ago_in_words(comment.created_at) %>前</small>
                        <% if current_user&.== comment.user %>
                          <small class="text-danger">
                            <%= link_to comment, method: :delete, class: "text-danger", data: { turbo_method: :delete, turbo_confirm: "削除してもよろしいですか？" } do %>
                              <i class="fas fa-trash-alt me-1"></i>削除
                            <% end %>
                          </small>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-5 col-lg-4 d-flex flex-column justify-content-center my-3" id="user-comment-exchangepost-<%= comment.id %>">
                      <div class="border rounded p-2">
                        <div class="mb-2">コメントした投稿の概要</div>
                        <div>
                          <%= link_to "投稿者：#{comment.exchangepost.user.name}", comment.exchangepost.user %><br>
                        </div>
                        <div class="d-flex">
                          <div class="me-1">
                            <span class="bg-primary text-white">譲</span>
                          </div>
                          <div><%= comment.exchangepost.give_item_name %></div>
                        </div>
                        <div class="d-flex">
                          <div class="me-1">
                            <span class="bg-primary text-white">欲</span>
                          </div>
                          <div><%= comment.exchangepost.want_item_name %></div>
                        </div>
                        <div class="text-end mt-2">
                          <%= link_to comment.exchangepost do %>
                            <i class="fa-solid fa-angle-right me-1"></i>投稿の詳細を見る
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    </div>
  </div>
</div>
