<% provide(:title, @user.name) %>
<div class="user-show-wrapper py-4">
  <div class="row py-4">
    <%= render partial: "shared/user_info", locals: { user: @user, conversation: @conversation } %>
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 user-nav">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <%= link_to "店舗に関する投稿", @user, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "グッズ交換希望投稿", "#", class: "nav-link active", aria: { current: "page" } %>
        </li>
        <li class="nav-item">
          <%= link_to "コメント", comments_user_path, class: "nav-link" %>
        </li>
      </ul>
      <% if @exchangeposts.any? %>
        <div class="list-group p-0">
          <%= render partial: "shared/exchangeposts", locals: { exchangeposts: @exchangeposts } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
