<header class="border-bottom fixed-top bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-2">
      <div class="container-fluid">
        <%= link_to "Look for 1", root_path, class: "fs-4 fw-bold nav-link" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li class="nav-item me-2">
                <%= link_to current_user.name, user_path(current_user), class: "nav-link" %>
              </li>
              <div class="dropdown">
                <%= link_to "#", class: "d-block link-dark text-decoration-none dropdown-toggle", id: "dropdownUser", data: { "bs_toggle": "dropdown" }, aria: { expanded: "false" } do %>
                  <%= image_tag current_user.display_image, alt: "User image", class: "rounded-circle", width: 40, height: 40 %>
                <% end %>
                <ul class="dropdown-menu text-small dropdown-menu-end" id="dropdownMenu" aria-labelledby="dropdownUser">
                  <li>
                    <%= link_to "マイページ", current_user, class: "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "プロフィール", profile_user_path(current_user), class: "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "グッズを交換したい", new_exchangepost_path, class: "dropdown-item" %>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item text-primary" %>
                  </li>
                </ul>
              </div>
            <% else %>
              <li class="nav-item me-3">
                <%= link_to "アカウント登録", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン",  new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
